.counterparties {
  padding: 20px;
}

.container__counterparties {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.counterparties__header {
  font-family: 'Roboto-regular', sans-serif;
  font-size: 47px;
  line-height: 60px;
  padding: 15px 20px;
  border: 1px solid #ccc;
  display: flex;
  align-content: center;
  margin-bottom: 40px;
  width: 100%;
}

.counterparties__header-info {
  margin: 0 auto;
}

.counterparties__table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 40px;
}


.counterparties__table th,
.counterparties__table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  width: 20%;
  word-break: break-all;
}

.counterparties__table th {
  background-color: #E0E9FF;
  font-weight: bold;
}

.counterparties__add-button {
  font-family: 'Inter-SemiBold', sans-serif;
  display: flex;
  align-items: start;
  font-size: 26px;
  line-height: 36px;
  position: relative;
  width: 100%;
  padding: 10px;
}

.counterparties__add-cell:hover {
  background-color: #ccc;
}

.counterparties__add-button::before {
  position: absolute;
  content: '';
  background-image: url('../../../public/img/addPlus.svg');
  width: 58px;
  height: 58px;
  background-repeat: no-repeat;
  top: 0;
  right: 10px;
}
